In [1]:
import pandas as pd
import csv
import glob
import plotly.graph_objects as go
import plotly_express as px
import matplotlib as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('metro_applications_2018.csv', low_memory=False)

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,...,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,bank_name
0,0,0,46,2018,549300X5Q6MWPDMY7065,41180,MO,29099.0,2.909970e+10,C,...,NaN,NaN,4395,3.55,76600,81,1343,1785,31,NaN
1,2,2,127,2018,549300X5Q6MWPDMY7065,41180,MO,29189.0,2.918921e+10,C,...,NaN,NaN,9786,87.36,76600,101,2517,3325,36,NaN
2,4,4,223,2018,549300X5Q6MWPDMY7065,41180,MO,29183.0,2.918331e+10,C,...,NaN,NaN,7818,5.96,76600,119,2410,2688,12,NaN
3,5,5,271,2018,549300X5Q6MWPDMY7065,41180,MO,29099.0,2.909970e+10,C,...,NaN,NaN,5968,6.90,76600,77,1604,2294,37,NaN
4,8,8,369,2018,549300X5Q6MWPDMY7065,41180,MO,29189.0,2.918921e+10,C,...,NaN,NaN,7784,93.41,76600,43,1733,3394,60,NaN

In [4]:
pd.to_numeric(df['interest_rate'], errors='coerce')

0         5.375
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18        5.125
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
          ...
136846    5.125
136847      NaN
136848      NaN
136849      NaN
136850      NaN
136851      NaN
136852      NaN
136853      NaN
136854      NaN
136855      NaN
136856      NaN
136857      NaN
136858    5.625
136859      NaN
136860      NaN
136861    5.875
136862      NaN
136863      NaN
136864      NaN
136865      NaN
136866    4.500
136867      NaN
136868    4.625
136869    4.625
136870    4.750
136871    4.375
136872    4.750
136873      NaN
136874    4.625
136875    4.000
Name: interest_rate, Length: 136876, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136876 entries, 0 to 136875
Columns: 103 entries, Unnamed: 0 to bank_name
dtypes: float64(31), int64(44), object(28)
memory usage: 107.6+ MB

In [6]:
df.dropna(subset = ['interest_rate'], inplace = True)

In [7]:
df = df[df.interest_rate != 'Exempt']

In [8]:
print df['interest_rate']

0         5.375
18        5.125
41        4.875
42        5.375
43         5.75
44          5.0
56        4.875
66        4.375
67          4.5
68        4.875
70        5.625
71        4.375
72         4.25
73        4.625
76        4.875
78         4.75
79         3.75
119        9.99
127         6.0
151         4.0
152         4.0
153         4.5
154         5.5
156        3.75
157        3.75
159        3.75
161       4.125
163       4.375
164       3.875
165       4.375
          ...
136649    4.875
136650    4.625
136651     4.25
136652    4.625
136653    4.625
136654    4.625
136655    4.875
136656    5.125
136657    4.625
136659    4.375
136663    4.875
136679      5.5
136701      5.0
136750    5.875
136780     5.25
136794      5.5
136804    4.875
136823     4.75
136832    4.875
136846    5.125
136858    5.625
136861    5.875
136866      4.5
136868    4.625
136869    4.625
136870     4.75
136871    4.375
136872     4.75
136874    4.625
136875      4.0
Name: interest_rate, Length: 94033, dtype: object

In [9]:
df['interest_rate'] = pd.to_numeric(df['interest_rate'], errors='coerce')

In [10]:
df['interest_rate'].value_counts(bins=5)

(-40.375, 8075.001]      94031
(32300.0, 40375.0]           2
(24225.0, 32300.0]           0
(16150.001, 24225.0]         0
(8075.001, 16150.001]        0
Name: interest_rate, dtype: int64

In [11]:
df = df[df.interest_rate <= 16]

In [12]:
df['interest_rate'].value_counts(bins=5)

(3.201, 6.401]     89378
(6.401, 9.6]        2237
(-0.016, 3.201]     2140
(9.6, 12.8]          248
(12.8, 16.0]          11
Name: interest_rate, dtype: int64

In [13]:
bins = [-.016, 3.201, 6.401, 9.6, 12.8, 16]
labels = ["-.016 to 3.201", "3.201 to 6.401", "6.401 to 9.6", "9.6 to 12.18", "12.8 to 16"]

In [14]:
df['binned'] = pd.cut(df['interest_rate'], bins=bins, labels=labels)

In [19]:
x = df.groupby(['census_tract', pd.cut(df.interest_rate, 5)]).size().unstack()

In [21]:
x.to_csv('ctracts.csv')